@page "/dailyDeaths"
@using NA.Covid19.Domain;

<div>
    <div class="form-group">
        @if (@Countries == null)
        {
            <div>Loading countries...</div>
        }
        else
        {
            <label>Country</label>
            <DxTagBox Data="@Countries"
                      TextFieldName="Name"
                      HideSelectedItems="false"
                      @bind-SelectedItems="@Items" />
        }
    </div>

    <div class="form-group">
        <label>Starting Date</label>
        <DxDateEdit @bind-Date="@startDate"></DxDateEdit>
    </div>

    <button class="btn btn-primary" @onclick="GetData">Get Data</button>
</div>
@if (ReportData != null)
{
    <div>
        <DxChart Data="@ReportData">
            <DxChartTitle Text="Daily Deaths Reports" />
            <DxChartCommonSeries NameField="@((HistoricalReport s) => s.Country)"
                                 ArgumentField="@(s => s.LastUpdate)"
                                 ValueField="@(s => s.Deaths)"
                                 SeriesType="@seriesType">
            </DxChartCommonSeries>
        </DxChart>
    </div>
}
